body {
  margin: 0;
  font-family: Inter, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  font-family: Inter, sans-serif
}

/* Sidebar */
.sidebar {
  width: 173px;
  background: #f0f0f0;
  padding: 10px;
  border-right: 1px solid black;
  flex-direction: column;
}

.sidebar button {
  display: block;
  width: 100%;
  margin: 20px 0;
  padding: 10px;
  text-align: left;
  border: none; 
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

.sidebar button:hover {
  background: #ddd;
  transition: background 0.2s ease;
}

/* Main */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

/* Section box */
.section {
  margin-bottom: 20px;
}

.section h3 {
  margin-top: 0;
}

.countdown {
  border: 1px solid #aaa;
  padding: 10px;
  width: 200px;
  text-align: center;
  float: right;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Dòng due tasks */
.due-row, .recent-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #999;
  margin: 8px 0;
}

.task-name, .recent-row span:nth-child(1) {
  width: 40%; /* đủ dài để chứa tên */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.task-group, .recent-row span:nth-child(2) {
  width: 30%;
  text-align: left;
}

.task-time, .recent-row span:nth-child(3) {
  width: 30%;
  text-align: right;
}

.datetime-container {
  display: flex;
  gap: 10px;
  font-family: Arial, sans-serif;
}

.badge {
  background-color: #eee;
  color: #1a73e8;
  padding: 6px 11px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
}

