<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create-user</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="topnav">
      <a href="/">Home</a>
      <a class="active" href="/create">Create-user</a>
    </div>
    <div class="form">
      <form action="/create-user" method="POST">
        <fieldset>
          <legend>Add new user</legend>
          <div class="input-group">
            <label>Username: </label>
            <input type="text" name="username" required />
          </div>
          <div class="input-group">
            <label>Email: </label>
            <input type="email" name="email" required />
          </div>
          <div class="input-group">
            <label>Name: </label>
            <input type="text" name="name" required />
          </div>
          <div class="input-group">
            <label>Password: </label>
            <input type="password" name="password" required />
          </div>
          <div class="input-group">
            <label>Avatar URL: </label>
            <input type="text" name="avatar_url" />
          </div>
          <div class="input-group">
            <label>Notification Preferences: </label>
            <input type="text" name="notification_preferences" />
          </div>
          <div>
            <button type="submit">Save</button>
          </div>
        </fieldset>
      </form>
    </div>
  </body>
</html>
