* {
    margin: 0;
    padding: 0;

}
                                            /* Ke bang */            
body{
    display: grid;
    
    grid-template-columns: 200px 6fr;
    grid-template-rows: 80px 6fr;
    grid-template-areas: 
        "aa  cc "
        "aa  bb ";
    row-gap: 20px black;
}
.Menu {
    grid-area: aa;
}
.Bar {
    grid-area: cc;
    border-bottom: 1px solid black;
    border-left: 2px solid black;
}
.Content {
    grid-area: bb;
    border-top: 1px solid black;
    border-left: 2px solid black;
}
                                            /* Menu */
.IconMenu{
    padding-top: 30px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: right;
}
.menuicon {
    height: 40px;
    width: auto;
}
                                            /* Option Menu */
.Option {
}
.Menu {
    padding-bottom: 20px;
    text-align: center;
}
.Btn {
    background-color: #4CAF50; 
    padding-left: 20px;
    width: 190px;
    height: 40px;
    text-align: left;
    border-radius: 6px;
    color: rgba(0, 122, 255, 1);
    font-size: 17px;
    font-family: "Inter";
    font-weight: 500;
}
                                            /* Icon Option Menu */
.Btn::before {
    content: ""; /* BẮT BUỘC để ::before hiện ra */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 30px;
    display: inline-block;
    margin-right: 8px; /* Tuỳ chỉnh nếu cần khoảng cách với chữ */
    vertical-align: middle; /* Can giữa theo dòng chữ */
}
.Btn.Home::before {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/6/67/Microsoft_To-Do_icon.png');
}
.Btn.Group::before {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/6/67/Microsoft_To-Do_icon.png');
}
.Btn.Mywork::before {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/6/67/Microsoft_To-Do_icon.png');
}
.Btn.Incomplete::before {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/6/67/Microsoft_To-Do_icon.png');
}
.Btn.Important:before {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/6/67/Microsoft_To-Do_icon.png');
}
.Btn.Calendar:before {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/6/67/Microsoft_To-Do_icon.png');
}
                                            /* Bar */
.Bar {
    display: grid;
    grid-template-columns: 150px  120px  15fr  1fr  1fr  2fr  1fr;
    grid-template-areas: 
        "qq ee rr tt uu vv ww";
}
                                            /* Date Time */
.Block{
    padding: 20px;
    text-align: left;
}
.NoteDate{
    padding-left: 25px;
}
.NoteTime{
}
.Note{
    background-color:rgba(13, 13, 228, 0.12);
    border-radius: 6px;
    color: rgba(0, 122, 255, 1);
    font-size: 17px;
    font-family: "Inter";
    font-weight: 500;
    text-align: center;
}
.Date{
    height: 37px;
    width: 130px;
    border: none;
}
.Time{
    height: 37px;
    width: 90px;
    border: none;
}
                                            /* Search */
.NoteSearch{
    text-align:end;
    padding: 20px;
}
.Search{
    height: 40px;
    width: 40vw;                     
    max-width: 700px;  
    border-radius: 9px;
    background-color: rgba(217, 217, 217, 1);
    border: none;
    padding-left: 15px;
}  
.searchicon {
    height: 20px;
    width: auto;
    position: relative;
    right: 40px;
    top: 6px
}  
                                            /* Setting */
.NoteSetting {
    padding-top: 23px;
    text-align: left;
}
.settingicon{
    height: 30px;
    width: auto;
}
                                            /* Notification */
.NoteNotification{
    padding-top: 23px;
    text-align: left;
}
.notificationicon{
    height: 30px;
    width: auto;
}
                                            /* Username */
.Username{
    padding-top: 30px;
    padding-right: 5px;
    text-align: right;
    color: rgba(0, 122, 255, 1);
    font-size: 20px;
    font-family: "Inter";
    font-weight: 500;
}
                                            /* Avatar */
.NoteAvatar{
    padding-top: 23px;
    text-align: center;
}
.avataricon{
    height: 30px;
    width: auto;
}
                                       /* Content */
.Content{
    
}